// Background 


.background {
    background: linear-gradient(rgba(0, 0, 0, 0.191),rgba(0, 0, 0, 0.13)), url('../../images/hanOne.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 100vh;
    width: 100%;
    animation: back 12s ease-in-out infinite;

    @keyframes back {
        from { 
            background: linear-gradient(rgba(0, 0, 0, 0.191),rgba(0, 0, 0, 0.13)), url('../../images/hanOne.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% 100%;
            height: 100vh;
            width: 100%;
        } to {
            background: linear-gradient(rgba(0, 0, 0, 0.191),rgba(0, 0, 0, 0.13)), url('../../images/birds.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% 100%;
            height: 100vh;
            width: 100%;
        }
    }
}