


.formPray {
    position: absolute;
    bottom: 4em;
    left: 0;
    width: $size;
    height: 33em;
    border-radius: 2em 2em 0 0;
    background-color: lighten(rgb(230, 230, 230), 7);
    border: 1px solid lighten($bl-low, 10);
    overflow-y: scroll;
    transition: transform  .5s ease-in-out;
    transform-origin: bottom right;
    transform: scale(0);

    &::-webkit-scrollbar {
         background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
    

    &__form {
        padding: 1em 1.5em;
        @include flex;
        flex-direction: column;
    }

    &__input {
        padding: 1em 0;
        margin-bottom: 1em;
        @include resetLink;
        border-radius: .3em;
        padding: 1.2em 1em;
        background: $light;
        border: 1px solid lighten($bl-low, 20);

        &::placeholder {
            font-size: 1.1em;
        }
    }

    &__times {
        @include between;
        align-items: center;
        width: 65%;

        span {
            display: inline-block;
            margin-right: .7em;
            // background: greenyellow;
            height: 2.3em;

            &:nth-child(3) {
                margin-left: 1em;
            }
        }
    }

    &__time {
        padding: .5em;
        width: calc($size - 51%);
    }

    &__title {
        margin-bottom: 1em;
        font-size: 1.6em;
    }

    &__btn {
        @include resetLink;
        margin-top: .8em;
        padding: .7em 1em;
        background: $bl-low;
        color: $light;
        border-radius: .5em;
        font-weight: 800;
        font-size: 1em;
        cursor: pointer;
        transition: opacity .5s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }

    &__textarea {
        padding: 1em;
        border: 1px solid lighten($bl-low, 20);
        border-radius: .5em;
        height: 10em;
        outline: 0;
    }
}


.openForm {
    position: absolute;
    bottom: 4em;
    left: 0;
    width: $size;
    height: 33em;
    border-radius: 2em 2em 0 0;
    background-color: lighten(rgb(230, 230, 230), 7);
    border: 1px solid lighten($bl-low, 10);
    overflow-y: scroll;
    transition: transform  .5s ease-in-out;
    transform-origin: bottom right;
    transform: scale(1);

    &::-webkit-scrollbar {
        background: transparent;
   }
   &::-webkit-scrollbar-thumb {
       background: transparent;
   }
    }