// Mixins 



@mixin flex {
    display: flex;
}

@mixin align {
    display: flex;
    align-items: center;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

// List 
@mixin list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin resetLink {
    border: 0;
    outline: 0;
    background: transparent;
    color: inherit;
}