



.modals {
    position: relative;
    padding: 1em 1.2em;
    background: $light;
    border-right: .01em solid #ccc;
    width: 50em;

    &__header {
        position: relative;
        @include between;
        margin-bottom: 2em;
        // border: 1px solid red;
    }

    &__list {
        overflow-y: scroll;
        height: 35em;

        &::-webkit-scrollbar {
            background: transparent;
            width: .3em;
        }

        &::-webkit-scrollbar-thumb {
            background: $bl-low;
        }
    }

    &__add__pray {
        @include resetLink;
        @include between;
        margin-top: 1.5em;
        padding: .7em 1em;
        background: $bl-low;
        color: $light;
        border-radius: .5em;
        // font-weight: 800;
        font-size: 1em;
        cursor: pointer;
        transition: opacity .5s ease-in-out;

        span {
            margin-left: .5em;
        }

        &:hover {
            opacity: .8;
        }
    }
}